*{
    margin: none;
    box-sizing: border-box;
}

.background-img{
    background-size:cover ;
    position: relative;
}
header{
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.navbar{
    background-color: grey;
    padding: 1rem;
    opacity: 0.6;

}
.nav-item{
    text-decoration: none;
    display: inline;
 
}
.nav-link{
    color: white;
    text-decoration: none;
padding-top: 2rem;
margin-right: 3rem;

}
.tech-body{
    position: absolute;
    top: 20rem;
    color: white;
}

