*{
    margin: 0;
    box-sizing: border-box;
}

.background-img{
    background-size:cover ;
    position: relative;
}
header{
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
    z-index: 100;
}
.navbar{
    background-color: grey;
    padding: 1rem;
    opacity: 0.6;

}
.nav-item{
    text-decoration: none;
    display: inline;
 
}
.nav-link{
    color: white;
    text-decoration: none;
padding-top: 2rem;
margin-right: 3rem;
}
.space-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
span{
    color: rgb(114, 114, 114);
    margin: 1rem;
}
.title{
    position: absolute;
    top: 10rem;
    left: 10rem;
    color: white;
}
.write-up{
    position: absolute;
    top: 20rem;
    left: 15rem;
    color: white;
   
}
.space-text{
    white-space:break-spaces;
    margin-top:rem;
    color: rgb(196, 196, 196);
}
.button-class{
    position: absolute;
    top: 20rem;
    left: 7rem;
    color: white; 
    
}
.button1{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: transparent;
    border-style:solid ;
    color: white;
    border-color: rgb(207, 207, 207);
}
.button1:active, .button1:hover{
    background-color: white;
    color: black;
}
.space-title{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.terminology{
    margin-bottom: 0;
    margin-top: 3rem;
    color: rgb(196, 196, 196);
}
.image{
    position: absolute;
    bottom: 1rem;
    right: 3.2rem;
}